<h1 class="text-center">New Contribution</h1>

<div class="row">
  <div class="col-sm-6">
    <%= image_tag(@rss_url, size: "400x400") %>
  </div>
  <div class="col-sm-6">
    <%= render 'form' %>
  </div>
</div>
